<form action="/rewrite" method = "POST">
  <table>
    <tr>
        <p>Submit New Rewrite Rule</p>
    </tr>
    <tr>
      <td align="left">API Manager Generated URL </td>
      <td align="left"><input type="text" name="original_url" /></td>
    </tr>
    <tr>
      <td align="left"> Exposed URL </td>
      <td align="left"><input type="text" name="exposed_url" /></td>
    </tr>
    <tr>
      <td align="left">Flag</td>
      <td align="left"><input type="text" name="flag" /></td>
    </tr>
       
  </table>
   <p><input type = "submit" value = "Submit" /></p>
</form>

<p>  --------------------------------------------------------------------------  </p>

<form action="/list_rules">
<p>List The Rewrite Rules</p>
<p><input type = "submit" value = "Submit" /></p>
</form>