<form action="/rewrite" method = "POST">
    <p>API Manager Generated URL ---  <input type = "text" name = "original_url" /></p>
    <p>Exposed URL -----------------  <input type = "text" name = "exposed_url" /></p>
    <p>Flag ------------------------  <input type = "text" name = "flag" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>



<form action="/list_rules" method = "POST">
    <p>List Rewrite Rules</p>
    <p><input type = "submit" value = "List Rules" /></p>
</form>


<form>
  <table>
    <tr>
      <td align="right">API Manager Generated URL </td>
      <td align="left"><input type="text" name="original_url" /></td>
    </tr>
    <tr>
      <td align="right"> Exposed URL </td>
      <td align="left"><input type="text" name="exposed_url" /></td>
    </tr>
    <tr>
      <td align="right">Flag</td>
      <td align="left"><input type="text" name="flag" /></td>
    </tr>
  </table>
</form>